@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

/* Smooth transition for color mode toggle */
html {
  scroll-behavior: smooth; /* ✅ Smooth scrolling */
  transition: background-color 0.3s, color 0.3s;
}
@keyframes gradient-slow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient-slow {
  background-size: 200% 200%;
  animation: gradient-slow 6s ease infinite;
}
